In [132]:
import pandas as pd
import numpy as np
import json as json
import requests
from pandas.io.json import json_normalize

In [125]:
data = pd.read_json(r'https://brasil.io/api/dataset/covid19/caso/data/?format=json')['results']
data

0      {'city': 'Amapá', 'city_ibge_code': '1600105',...
1      {'city': 'Calçoene', 'city_ibge_code': '160020...
2      {'city': 'Cutias', 'city_ibge_code': '1600212'...
3      {'city': 'Ferreira Gomes', 'city_ibge_code': '...
4      {'city': 'Importados/Indefinidos', 'city_ibge_...
                             ...
995    {'city': 'Macaparana', 'city_ibge_code': '2609...
996    {'city': 'Machados', 'city_ibge_code': '260910...
997    {'city': 'Maraial', 'city_ibge_code': '2609204...
998    {'city': 'Moreno', 'city_ibge_code': '2609402'...
999    {'city': 'Nazaré da Mata', 'city_ibge_code': '...
Name: results, Length: 1000, dtype: object

In [134]:
pd.DataFrame.from_dict(pd.json_normalize(data), orient='columns')

,city,city_ibge_code,confirmed,confirmed_per_100k_inhabitants,date,death_rate,deaths,estimated_population_2019,is_last,order_for_place,place_type,state
0,Amapá,1600105,2,21.95631,2020-05-08,0.0000,0,9109.0,True,13,city,AP
1,Calçoene,1600204,4,35.98093,2020-05-08,0.0000,0,11117.0,True,8,city,AP
2,Cutias,1600212,11,183.85425,2020-05-08,0.0000,0,5983.0,True,4,city,AP
3,Ferreira Gomes,1600238,3,38.56041,2020-05-08,0.3333,1,7780.0,True,7,city,AP
4,Importados/Indefinidos,None,0,NaN,2020-05-08,0.0000,0,NaN,True,9,city,AP
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Macaparana,2609006,7,27.58512,2020-05-08,0.2857,2,25376.0,True,32,city,PE
996,Machados,2609105,5,31.07907,2020-05-08,0.2000,1,16088.0,True,27,city,PE
997,Maraial,2609204,1,8.81446,2020-05-08,0.0000,0,11345.0,True,2,city,PE
998,Moreno,2609402,48,76.45260,2020-05-08,0.0625,3,62784.0,True,32,city,PE
999,Nazaré da Mata,2609501,17,52.35441,2020-05-08,0.1176,2,32471.0,True,17,city,PE